<div class="emcr-flexrow flexrow">
    <aside class="emcr-sidebar sidebar flexcol">
        <div class="entry-filter form-group">
            <input name="filter" type="search" placeholder="Фильтр" value="">
        </div>
        <nav class="emcr-tabs tabs" aria-label="eemcr.dialog.bookCategories">
            <a class="item category-tab emcr-tab-item active" data-tab="all">
                <i class="fas fa-books"></i> {{localize "emcr.dialog.allBooks"}}
            </a>
            {{#each (uniqueCategories books)}}
            <a class="item category-tab emcr-tab-item" data-tab="{{this}}">
                <i class="fas fa-book"></i> {{this}}
            </a>
            {{/each}}
        </nav>
    </aside>
    <form class="emcr-form">
        <div class="emcr-container">
            <section class="emcr-content">
                {{!-- All Books Tab --}}
                <div class="emcr-tab-content active" data-tab="all">
                    {{#each books}}
                    <div class="emcr-book-item" data-category="{{this.category}}">
                        <label>
                            <input type="checkbox"
                                   class="emcr-book-checkbox"
                                   data-book-id="{{this.name}}"
                                   {{#if this.enabled}}checked{{/if}}>
                            <span class="emcr-book-name">{{this.name}}</span>
                            <span class="emcr-book-category">({{this.category}})</span>
                        </label>
                    </div>
                    {{/each}}
                </div>

                {{!-- Category Tabs --}}
                {{#each (uniqueCategories books) as |category|}}
                <div class="emcr-tab-content" data-tab="{{category}}">
                    {{#each ../books}}
                    {{#if (eq this.category category)}}
                    <div class="emcr-book-item">
                        <label>
                            <input type="checkbox"
                                   class="emcr-book-checkbox"
                                   data-book-id="{{this.name}}"
                                   {{#if this.enabled}}checked{{/if}}>
                            <span class="emcr-book-name">{{this.name}}</span>
                        </label>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/each}}
            </section>
        </div>

    </form>
</div>
<footer class="emcr-footer">
    <div class="emcr-form-group">
        <label>
            <input type="checkbox" class="emcr-dont-show">
            <span>{{localize "emcr.dialog.dontShow"}}</span>
        </label>
    </div>
    <button type="button" class="emcr-import-button">
        <i class="fas fa-file-import"></i> {{localize "emcr.dialog.import"}}
    </button>
</footer>