.emcr-flexrow {
    height: 100%;
    flex-wrap: nowrap;
}

.emcr-sidebar {
    flex: 0 0 220px;
    height: 100%;
    padding: 1rem;
    border-right: 1px solid var(--color-border-light-primary);
    font-size: var(--font-size-16);
}

.emcr-tabs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden auto;
}
.emcr-tabs > [data-tab] {
    text-align: left;
}
.emcr-tabs.tabs .item {
    font-weight: 400;
}
.emcr-tab-item {
    display: flex;
    padding: 6px 0;
    border-bottom: 1px solid var(--color-border-light-primary);
    text-align: left;
    width: 100%;
    gap: 8px;
    justify-content: flex-start;
    align-items: baseline;
    font-weight: 400;
}
.emcr-tabs.tabs .emcr-tab-item.active {
    font-weight: 500;
}

.emcr-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.emcr-content {
    flex: 1;
    padding: 1rem;
    overflow: hidden auto;
    max-height: calc(100% - 60px);
}
.emcr-tab-content {
    display: none;
}
.emcr-tab-content.active {
    display: block;
}

form .emcr-form-group.form-group > label {
    font-weight: 400;
}

form .emcr-book-item.form-group {
    align-items: flex-start;
}

.emcr-footer {
    flex: 0;
}